<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function sendGet() {
            var form = document.getElementById("form_info");
            // axios get을 이용한 통신
            axios({
                // method : 요청 방식(default: get), get,post,patch,delete 있음
                method: "get",
                // url : 서버 주소, form에서의 action에 해당 = 내가 데이터를 보내고자 하는 주소
                url: "/formAxios",
                params: { name: form.name.value }
            }).then(function (res) {
                alert(res.data.msg);
            })
        }
        function sendPost() {
            var form = document.getElementById("form_info");
            // axios get을 이용한 통신
            axios({
                // method : 요청 방식(default: get), get,post,patch,delete 있음
                method: "post",
                // url : 서버 주소, form에서의 action에 해당 = 내가 데이터를 보내고자 하는 주소
                url: "/formAxios",
                data: { name: form.name.value }
            }).then(function (res) {
                alert(res.data.msg);
            })
        }
    </script>
</head>

<body>
    <button type="button" onclick="sendGet()">get 전송</button>
    <button type="button" onclick="sendPost()">post 전송</button>
    <form id="form_info" action="">
        <input type="text" name="name">
    </form>
</body>

</html>