<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs-static 활용</title>
    <style>
        img {
            width: 300px;
        }
    </style>
</head>

<body>
    <%for(var i=0; i<src.length; i++) {%>
    <%-src[i]%>
    <img src=<%=src2[i]%>>
    <%}%>
</body>

</html>