<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function login() {
            let form = document.getElementById("form_login");
            axios({
                method: 'post',
                url: '/user/login',
                data: {
                    id: form.id.value,
                    pw: form.pw.value,
                    name: form.name.value
                }
            }).then((res) => {
                if (res.data) {
                    // alert("성공");
                    // form action 동작
                    form.submit();
                }
                else alert("실패")
            })
        }
    </script>
    <style>
        #field_login {
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <form id="form_login" method="post" action="/user/profile">
        <fieldset id="field_login">
            <h3>Welcome</h3>
            ID :
            <input type="text" name="id">
            Password :
            <input type="password" name="pw">
            <button type="button" onclick="login()">Login</button>
        </fieldset>
    </form>
</body>

</html>